body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
}

#header {
    background-color: lightcoral;
    color: black;
    text-align: center;
    padding: 20px;
}

#container {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
}

#footer {
    background-color: lightcoral;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#contenido,
#cambiarColorBtn{
    margin-left: 10%;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: lightcoral;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #555;
}
